.category-page {
    display: grid;
}

.category-front {
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

.category-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.contents {
    display: flex;
}

/* .filters {

} */

/* .products {

} */


/* Filters section */

.filters label {
    display: block;
}

.filters {
    width: 15rem;
    border-right: 1px solid;
    padding: 0 1rem;
}

.filters p {
    margin: 0.5rem 0.25rem;
}

.filters div {
    width: 100%;
}