.profile-page {
    margin-top: 4.5rem;
}

@media only screen and (max-width: 715px) {
    .profile-page {
        margin-top: 5.5rem;
    }
}

@media only screen and (max-width: 420px) {
    .profile-page {
        margin-top: 6.5rem;
    }
}


/* edit-input */

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.profile-page .modal .address-section .edit-address input {
    display: block;
}