.header {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
}

.header a {
    color: #000;
    text-decoration: none;
}

.header a:hover {
    opacity: 75%;
}

.header a:active {
    opacity: 100%;
}

.header .nav-links * {
    margin: 0 0.5rem;
}

.header .nav-links {
    font-size: 1.1rem;
}

.header .nav-head {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
}

.header .search {
    display: flex;
}

.header .search input {
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #b7b7b7;
    border-radius: 0.25rem;
}

.header .search button {
    background-color: #000000;
    color: #ffffff;
    transition: 0.35s;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 0;
}

.header button:hover {
    color: #000000;
    background-color: #ffffff;
}

.header button:active {
    background-color: #000;
    color: #fff;
}

.search-results {
    width: 40%;
    position: fixed;
    max-height: 80%;
    overflow: auto;
    top: 3.5rem;
    left: 50%;
    padding: 0.5rem 1rem;
    transform: translate(-50%, 0);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px;
    border-radius: 0.25rem;

    &::-webkit-scrollbar{
        width: 10px;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }

}

.search-results .search-result {
    display: flex;
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0.5rem 0.25rem 0.5rem 0;
    border-radius: 0.5rem;
    transition: 0.4s;
}

.search-results .search-result:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
}

.search-results .search-result .img-container{
    width: 10rem;
    height: 10rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.45rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem 0 0.5rem;
}
.search-results .search-result .img-container img{
    width: 100%;
}

.search-results .search-result .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.search-results .search-result .content .desc {
    align-self: flex-end;
}

.search-results .search-result .content .title-price {
    display: flex;
    justify-content: space-between;
}

.search-results .search-result .content .title-price .product-title {
    font-weight: 600;
}
.search-results .search-result .content .title-price .product-price {
    font-weight: 400;
    font-size: 0.9rem;
}

.search-results .search-result .content .brand {
    font-weight: 500;
}

.search-results .search-result .content .desc {
    font-weight: 300;
    font-size: 0.85rem;
    font-style: italic;
}

