@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body>*:not(.header) {
    margin-top: 4.5rem;
}

@media only screen and (max-width: 715px) {
    body>*:not(.header) {
        margin-top: 5.5rem;
    }
}

@media only screen and (max-width: 420px) {
    body>*:not(.header) {
        margin-top: 6.5rem;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}